
<div class="col-12">
        <article>
            <div class="row">
                <div class="col-6">
                    <h2>{{ post?.title }} </h2>
                    <p>{{ post?.content }}</p>
                </div>
                <div class="col-5">
                    <img [src]="post?.image" class="responsive"/>
                </div>        
                <div class="col-1">
                    <button mat-fab color="primary" (click)="openDialog()">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab color="primary" (click)="Eliminar()">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </article>
    <br>
</div>

