<div mat-dialog>
  <h1 mat-dialog-title> {{title}}</h1>
  <div mat-dialog-content [formGroup]="formPost">
      <div class="row">
        <label for="title">Title: </label>
        <input id="title" type="text" formControlName="title" required/>
      </div>
      <div class="row">
        <label for="content">Content: </label>
        <input id="content" type="text" formControlName="content" required/>
      </div>
      <div class="row">
        <label  for="image">Image: </label>
        <input id="image" type="text" formControlName="image" required/>
      </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [disabled]="!formPost.valid" (click)="CreateOrEdit()">Save</button>
  </div>
</div>
