<h1 mat-dialog-title> isEdit ? 'Create' : 'Edit'</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput formControlName="url">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput formControlName="nombre">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Favorite Animal</mat-label>
            <input matInput formControlName="check">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="">Save</button>
</div>